*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-board{
    border: 2px solid black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
}

.snake{
    width: 20px;
    height: 20px;
    background-color:firebrick;
}

.food{
    width: 20px;
    height: 20px;
    background-color:cadetblue;
}