*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-board{
    width: 800px;
    height: 800px;
    border: 2px solid black;
    position: relative;
}

.snake{
    width: 20px;
    height: 20px;
    background-color:firebrick;
    position: absolute;
    left: 0;
    top: 0px;
}